/.idea
*.DS_Store

*venv/

*.terraform.lock.hcl
*.terraform/
*terraform.tfstate*
*.terraform.tfstate.lock.info

*bart-large-mnli/
*ml-api.zip
/.vscode
*env/
*__pycache__/
models/*
.ipynb_checkpoints
*.egg-info