google-cloud-aiplatform[prediction]==1.66.0
scikit-learn
pandas


# custom model dependencies
model_training @ git+https://github.com/doaa-altarawy/ai-deployment-bootcamp.git@main#egg=model_training&subdirectory=model_training
